<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form method="POST" action = "{% url'admission' %}">
Firstname:

<input type="text" name="firstname">
<br><br>

Lastname:

<input type="text" name="lastname">
<br><br>

Email:
<input type="email"name="email">
<br><br>

Contacts :
<input type="number" name="contacts">
<br><br>

School :
<input type="number" name="contacts">
<br><br>

Course :
<input type="number" name="contacts">
<br><br>

Student Photo :
<input type="file" name="studentphoto">
<br><br>

Results Slip :
<input type="file" name="result_slip">
<br><br>

Birth Certificate :
<input type="file" name="birthcertificate">
<br><br>

</form>
</body>
</html>