<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<h1><a href="">Certificate Courses</a></h1>

	<ul>

<li><a href="">Electrical Engineering (Power Option) Mod 1</a></li>
<br>
<li><a href="">Building Technology MOD 1</a></li> 
<br>
<li><a href="">Mechanical Engineering (Production) MOD 1</a></li>
<br>
<li><a href="">Welding and Fabrication MOD 1</a></li>
<br>
<li><a href="">Secretarial Studies MOD 1</a></li>
<br>
<li><a href="">General Agriculture MOD 1</a></li>
<br>
<li><a href="">Information Communication and Technology (ICT) MOD 1</a></li>
<br>
<li><a href="">Information Science MOD 1</a></li>
<br>
<li><a href="">Plumbing</a></li>
<br>
<li><a href="">Secretarial Studies</a></li>

</ul>

</body>
</html>

